appdirs==1.4.0
ceph-detect-init==1.0.1
ceph-disk==1.0.0
cephfs==0
et-xmlfile==1.0.1
hazm==0.5.2
jdcal==1.3
libwapiti==0.2.1
louis==3.0.0
nltk==3.0.5
openpyxl==2.4.5
packaging==16.8
pwquality==1.3.0
pygobject==3.22.0
pyparsing==2.1.10
rados==0
rbd==0
six==1.10.0
team==1.0
zenmap==7.40
